body {
  font-family: sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
  background-color: #EFEFEF;
  padding: 2px 4px;
}

pre {
  background-color: #EFEFEF;
  padding: 10px;
  overflow: auto;
}

blockquote {
  background-color: #EFEFEF;
  padding: 10px;
  border-left: 5px solid #006699;
}

.warning {
  background-color: #FFEBEB;
  padding: 10px;
  border: 1px solid #D54E21;
}

h1 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

h4 {
  font-size: 2.25vw;
}


.App {
  display: flex;
  align-items: stretch;
  min-height: 100vh;

}

/* sidebar */

.sidebar {
  flex: 0 0 15%;
  background-color: #eee;
  background-color: #006699;
  min-height: 100%;
  position: fixed;
  max-width: 15%;
}

.sidebar-header {
  text-align: center;
  background-color: #ccc;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* position: fixed; */
  top: 0;
  
}

  
.menu a {
  display: block;
  color: #fff;
  padding-bottom: 32px;
  text-decoration: none;
  font-size: 2vw;
}

.view {
  padding-left: 8px;
  width: calc(100%-8px);
}

img {
  width: 100%;
}


/* main content */

.main-content {
  flex: 1;
  margin-left: calc(15%);
  padding-left: 15px;
  padding-right: 10px;
}


/* create layer */ 

.create-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - (20% + 10px));
}

/* create layer buttons */
.layer-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: max-content;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}


.command-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: max-content; 
}


/* existing layers */ 

.layers-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
  font-size: 2vmin;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  font-size: 2vmin;
}

td img {
  width: 2vmin;
}

.existing_layers_table {
  table-layout: fixed;
  width: 100%;
}

.layer_version {
  width: 10%;
}

.layer_arn {
  width: 50%;
}

.layer_arn:active span {
  /* style applied when the component is being clicked or activated */
  background-color: #eee;
}


.layer_runtimes {
  width: 15%;
}

.layer_architectures {
  width: 20%;
}