
.App {
  display: flex;
  align-items: stretch;

}

/* sidebar */
.sidebar {
  flex: 0 0 20%;
  background-color: #eee;
  height: 100vh;
  max-width: 200px;
  background-color: #006699;
}

.sidebar-header {
  text-align: center;
  background-color: #ccc;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
.menu a {
  display: block;
  color: #fff;
  padding-bottom: 32px;
  text-decoration: none;
  font-size: 22px;
}

.view {
  padding-left: 8px;
  width: calc(100%-8px);
  
}

/* main content */

.main-content {
  flex: 1;
  margin-left: 20px;
}




body {
  font-family: sans-serif;
  color: #333333;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
  background-color: #EFEFEF;
  padding: 2px 4px;
}

pre {
  background-color: #EFEFEF;
  padding: 10px;
  overflow: auto;
}

blockquote {
  background-color: #EFEFEF;
  padding: 10px;
  border-left: 5px solid #006699;
}

.warning {
  background-color: #FFEBEB;
  padding: 10px;
  border: 1px solid #D54E21;
}


img {
  width: 100%;
}



/* create layer */ 

.create-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* create layer buttons */
.layer-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: max-content;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}


.command-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: max-content; 
}
